{% extends "crud::layouts.master" %}

{% block content %}

<div class="jumbotron text-center">
    <div align="right">
        <a href="{{ route('crud.index') }}" class="btn btn-default">Back</a>
    </div>
    <br />
    <h3>First Name - {{ data.firstName }} </h3>
    <h3>Last Name - {{ data.lastName }}</h3>
</div>

{% endblock %}